{% extends 'base.html.twig' %}

{% block body %}
    <section class="hero is-fullheight">
        <div class="container content">
            <div class="head">
                <div class="start">
                    Hi, my name is
                </div>
                <div class="name">
                    Petr Hoffmann.
                </div>
                <div class="what-i-do">
                    I build amazing software.
                </div>
            </div>
            <div class="terminal">

            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}{{ encore_entry_script_tags('index') }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('index') }}
{% endblock %}
