{% extends 'base.html.twig' %}

{% block body %}
    <section class="hero is-fullheight">
        <div class="container content">
            <div class="head">
                <div class="start">
                    Hi, my name is
                </div>
                <h1 class="name">Petr Hoffmann.</h1>
                <div class="what-i-do">
                    I build amazing software.
                </div>
            </div>
            {% include 'partial/terminal.html.twig' %}
            {% include 'partial/captcha.html.twig' %}
        </div>
    </section>
    {% include 'partial/footer.html.twig' %}
{% endblock %}

{% block javascripts %}{{ encore_entry_script_tags('index') }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('index') }}
{% endblock %}
