@import "~bulma/bulma";
@import "assets/css/colours";

body {
  font-family: "Fira Mono", "Fira Code", "SF Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;

  section.hero {
    background: rgba(0, 0, 70, 1);
    background: linear-gradient(180deg, rgba(0, 0, 35, 1) 0%, rgba(15, 15, 151, 1) 100%);

    .content {
      width: 820px;
      margin-bottom: 50px;

      .head {
        height: 315px;

        .start {
          padding-top: 90px;
          font-size: 16px;
          font-weight: bolder;
          color: rgba(245, 255, 0, 1);
        }

        .name {
          margin: 0;
          line-height: 90px;
          font-size: 60px;
          font-weight: bold;
          color: rgba(255, 255, 255, 1);
        }

        .what-i-do {
          font-size: 30px;
          font-weight: bolder;
          color: rgba(180, 180, 180, 1);
        }
      }

      @import "assets/css/partial/terminal";
      @import "assets/css/partial/captcha";
    }
  }

  @import "assets/css/partial/footer";
}

/* Hiding the window scrollbar */
html {
  ::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 1);
  }
}
