<footer class="footer">
    <div class="content has-text-centered">
        Designed and built by Petr Hoffmann
    </div>
    <div class="content has-text-centered">
        <a href="javascript: void(1);" class="source">View source</a>
    </div>
    <div class="content has-text-centered">
        Copyright © 2020 Petr Hoffmann.
        <span class="rights">
            <a href="javascript: void(1);">All rights reserved.</a>
        </span>
        <span class="rights-note">
            Email me if you'd like to use anything on here beyond fair use :)
        </span>
    </div>
</footer>
