<div class="terminal-widget">
    <div class="head">
        <div class="upper">
            <div class="window-title">
                visitor@hoffic.dev:~
            </div>
            <div class="close-button">
                <img src="{{ asset('build/images/icons/x-circle.svg') }}" alt="Close">
            </div>
        </div>
        <div class="lower">
            <div class="item">About</div>
            <div class="item">Blah</div>
            <div class="item">Contact</div>
        </div>
    </div>
    <div class="content" id="xterm">
    </div>
    <div class="curtain"></div>
</div>
